/* Place CSS styles here */

h2 {
    color:crimson
}
p{ 
    color:blue
}

.button {
    background-color: #f078c2;
}
.button:hover {
     background-color: #3e299b;
}
.button: focus {

}
.small-button {
    font-size: 8 px;
}